/* userinfo,用户信息组件样式 */

#userinfo{
    background-image:url('../pic/bgi.jpg'); 
    width: 460px;
    height: 935px;
    margin: 0;  
}
.rules{
    background-image:url('../pic/123.png'); 
    background-repeat:no-repeat;
    background-size:450px 270px;
    width: 380px;
    height: 230px;
    margin-left: 5px;
    padding:20px 40px 40px 40px;
    float: left;
}
.info{
    width: 430px;
    height: 430px;
    margin: 0 0 0 10px;
    border-radius:215px;
    float: left;
    border: rgb(114, 124, 77) 3px double;
}
.profilepic{
    
    width: 120px;
    height: 120px;
    margin: 30px auto 0px 153px; 
    
}
#username{
    width: 350px;
    height: 40px;
    margin: 10px auto 10px auto;
    padding: 10px;
    font-size: 20px;
    text-align:center;
}
#getname{
    width: 250px;
    height: 40px;
    margin: 20px auto 0px 80px;
    padding: 10px;
    font-size: 15px;
}
#employeeTable{
    width: 250px;
    height: 80px;
    margin: 10px auto auto 88px; 
    text-align:center;
    border: 5px inset;
}

#select{

    width: 200px;
    height: 10px;
    margin: 30px 10px 0 110px;
    padding: 10px;
    
}

.me{
    width: 240px;
    height: 140px;
    margin: 50px 0px 0 70px;
    padding: 10px 30px;
    /* border: black 1px solid; */
    float: left;
    font-size: 20px;
}

